.libre {
  font-family: 'Libre Baskerville', serif;
  font-weight: 800;
}
h1 {
  -webkit-background-clip: text;
}
.menu-activador {
  width: 30px;
  height: 20px;

  #lanzador {
    position: absolute;
    left: -9999px;
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;  
    cursor: pointer;
    color: white;
  }

  .menu-activador-linea {
    height: 2px;
    background-color: white;
    opacity: 1;
    transform: translateY(0) rotate(0);
    transition: all 0.3s;
  }

  #lanzador:checked + label .menu-activador-linea:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  #lanzador:checked + label .menu-activador-linea:nth-child(2) {
    opacity: 0;
  }
  #lanzador:checked + label .menu-activador-linea:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
