<div class="baner relative mt-[170px] bg-cover bg-center h-[500px] md:h-[800px] flex items-start justify-start p-5 text-white text-center font-bold">
  
  <!-- Capa de opacidad -->
  <div class="absolute inset-0 bg-black bg-opacity-35 z-10"></div>
  
  <!-- Contenido -->
  <div class="relative z-10 p-5 m-5 mt-[90px] md:mt-[160px] md:max-w-4xl rounded-lg text-left max-w-2xl">
    <div class="text-xl md:text-2xl font-medium">
      ELEVA TU EVENTO
    </div>
    
    <h2 class="libre text-3xl md:text-4xl md:leading-[40px] lg:leading-[60px] lg:text-5xl mt-3 mb-5">
      Ofrecemos una experiencia culinaria completa
    </h2>
    
    <button [routerLink]="[]" [fragment]="'servicios'" class="bg-[#450aba] text-white px-6 py-4 rounded-lg text-lg md:text-xl hover:bg-[#270568] transition-colors duration-300 mt-5 md:mt-16">
      Ver nuestros servicios
    </button>
  </div>
</div>