.baner {
  background-image: url('../../../../../public/img/home/baner.jpg');
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.libre {
  font-family: 'Libre Baskerville', serif;
  font-weight: 800;
}