<article class="person-card">
  <!-- Contenedor de imagen -->
  <div class="image-container">
    <img [src]="fotoUrl" [alt]="nombre" class="person-image">
    <div class="image-overlay"></div>
  </div>
  
  <!-- Contenido de la tarjeta -->
  <div class="card-content">
    <h3 class="person-name">{{ nombre }}</h3>
    <h4 class="person-role">{{ cargo }}</h4>
      <div class="description-container">
      <p #descripcionElement
         (click)="toggleTexto()"
         [class.line-clamp-4]="!mostrarTextoCompleto && needsExpansion"
         class="person-description">
        {{ descripcion }}
      </p>
      <span *ngIf="needsExpansion && !mostrarTextoCompleto" class="expand-indicator">
        Leer más...
      </span>
    </div>
  </div>
</article>