.contenido {
  background-color: #e0dfe1;
  padding-left: 80px;
  padding-right: 80px;
}

.cont-servicios {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.app-servicio {
  width: 450px;
  margin: 15px;
}

