<div class="bg-[#e0dfe1]">
  <div class="max-w-7xl mx-auto px-24">
  <app-section-title [title1]="'EXELENCIA CULINARIA'" [title2]="'Eleve la categoría de sus eventos con un catering gourmet'" />

  <div class="cont-servicios grid grid-cols-1 md:grid-cols-2 gap-6">

    <app-servicio class="app-servicio"
        [imagen]="'img/home/eventos/catering-bodas.jpg'"
        [titulo]="'Catering de bodas'"
        [descripcion]="'Haga de su boda un evento único con nuestro catering gourmet, menús personalizados y presentaciones elegantes.'">
    </app-servicio>

    <app-servicio class="app-servicio"
        [imagen]="'img/home/eventos/catering-cumpleanos.jpg'"
        [titulo]="'Celebraciones de cumpleaños'"
        [descripcion]="'Celebre su cumpleaños con un catering delicioso y variado, diseñado para sorprender a sus invitados.'">
    </app-servicio>

    <app-servicio class="app-servicio"
        [imagen]="'img/home/eventos/catering-empresarial.jpg'"
        [titulo]="'Catering empresarial'"
        [descripcion]="'Ofrecemos un catering profesional y sofisticado para reuniones, conferencias y eventos corporativos de alto nivel.'">
    </app-servicio>

    <app-servicio class="app-servicio"
        [imagen]="'img/home/eventos/catering-exclusivos.jpg'"
        [titulo]="'Eventos exclusivos'"
        [descripcion]="'Brinde una experiencia gastronómica inigualable con nuestro catering de lujo para eventos exclusivos y sofisticados.'">
    </app-servicio>

  </div>

  </div>
</div>

