.contenido {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
}
.left {
  width: 60%;
  padding-left: 100px;
}
.right {

 width: 40%;
}
 p {
  text-align: justify;
  color: #4f4f4f;
  font-size: 1.1em;
  max-width: 500px;
}
.cont-imagen {
  margin: 80px 80px 80px 20px;
  height: 450px;
  overflow: hidden;
  border-radius: 22px;
}

.cont-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  background-color: #f0f0f0;
  color: black;
  padding: 15px 30px;
  border: solid 2px #000000;
  font-weight: 600;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

button:hover {
  background-color: #450aba;
  color: white;
  border: solid 2px #450aba;

}