
<div class="bg-[#f0f0f0]">
  <div class="contenido max-w-7xl mx-auto">
  <div class="left">
    <app-section-title [title1]="'EXELENCIA CULINARIA'" [title2]="'Mejore sus eventos con nosotros'" />

    <div class="text">
      <p>
        Daniela Catering se especializa en servicios de catering premium en Madrid, centrándose en bodas,
        cumpleaños, cócteles y eventos exclusivos. Nos enorgullecemos de la alta gastronomía, ofreciendo
        aperitivos gourmet y elegantes presentaciones que crean un ambiente sofisticado. Nuestra misión
        es crear experiencias culinarias únicas con un estilo moderno y minimalista, asegurando que su
        evento no sólo sea memorable sino extraordinario.
      </p>
    </div>
    <button>Contáctenos</button>
  </div>
  <div class="right">
    <div class="cont-imagen">
      <img src="img/home/about.jpg" alt="">
    </div>
  </div>
</div>

</div>
